*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: #FFFFFF;
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

h1,h2,h3,p,input,select {
	font-family: 'Poppins', sans-serif;
}